.grid{
  width: 100%;
  height: 100vh;
  background-color: #0a0a0a;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(990deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(360deg ,rgba(255, 255, 255, 0.5) 1px, transparent 1px),
    linear-gradient(900deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(740deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(360deg ,rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(360deg ,rgba(255, 255, 255, 0.25) 1px, transparent 1px),
    linear-gradient(360deg ,rgba(255, 255, 255, 0.1) 1px, transparent 1px);
        background-size: 
            450px 250px,
            300px 550px,
            100px 81200px,
            100px 550px,
            800px 800px,
            200px 700px,
            500px 650px,
            290px 500px;
            
  
  position: relative;
  overflow: hidden;
}

.introduce {
  width: 100%;
  height: 100%;
  position: relative;
}

.introduce h1 {
    position: absolute;
    margin: 0;
    color: #fff;
    line-height: 0.9;
    text-transform: uppercase;
    pointer-events: none;

}

/* /* 1. QUANTUM {FIELDS} */
.introduce h1:nth-child(1) {
    top: 20%;
    left: 15%;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -4px;
}

/* 2. {FLUX} */
.introduce h1:nth-child(2) {
    top: 35%;
    right: 20%;
    font-size: 42px;
    font-weight: 400;
    opacity: 0.8;
}
.introduce h1:nth-child(2)::before {
    content: "Δ ";
    font-weight: 200;
}

/* 3. ::[0110]:: */
.introduce h1:nth-child(3) {
    bottom: 20%;
    left: 10%;
    font-size: 32px;
    font-family: 'Courier New', monospace;
    background-color: #fff;
    color: #000;
    padding: 8px 20px;
    letter-spacing: 0;
}

/* 4. Σ  */
.introduce h1:nth-child(4) {
    top: 5%;
    right: 10%;
    font-size: 160px;
    font-weight: 100;
    opacity: 0.15;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

/* 5. π  */
.introduce h1:nth-child(5) {
    bottom: 30%;
    right: 35%;
    font-size: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: lowercase;
    opacity: 0.3;
    pointer-events: none;
}

/* 3.14 */
.introduce h1:nth-child(6) {
    bottom: 50%;
    left: 10%;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 15%;   
    opacity: 0.15;
    letter-spacing: -2px;
}

    
/* ∫ */
.introduce h1:nth-child(7) {
    bottom: 30%;
    right: 10%;
    color: rgb(255, 255, 255);
    font-size: 150px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: 200;
    opacity: 0.2;
}

/* ∅ */
.introduce h1:nth-child(8) {
    bottom: 50%;
    right: 50%;
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-weight: 15%;  
    font-style: bold; 
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    opacity: 0.05;
    letter-spacing: -2px;
}


.sphereBack{
    position: absolute;
    top: -25%;
    z-index: 0;
    right: 45%;
    opacity: 0.8;
}

.products {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
}

.products h1 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px; /* Увеличил вертикальный отступ между рядами */
    padding: 40px;
    justify-content: flex-start;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}

.products > div {
    display: flex;
    flex-direction: column;
    width: calc(25% - 20px); 
    min-width: 300px;
}

.products a {
    order: -1;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; 
    background-color: #f5f5f5; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.products img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; 
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.products a:hover {
    background-color: #efefef; 
}

.products a:hover img {
    transform: scale(1.05);
}

.products span {
    font-size: 14px;
    color: #000;
    letter-spacing: 0.5px;
    font-weight: 400;

}
.products h2 {
    text-transform: uppercase;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
}

.products h1 {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;
}