{% extends 'home/base.html' %}

{% block content %}
    <h1>Login</h1>

    <form action="" method="post">
        {% csrf_token %}
        
        <input type="text" name="username" class="username" placeholder="Enter your username"> 
        <input type="email" name="email" id="" class="email" placeholder="Enter your email">
        <input type="password" name="password" id="" class="password" placeholder="Enter your password">

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        <button type="submit" class="send_data">Sumbit</button>
    </form>
{% endblock %}